<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="" method="get">
    <h2>Welcome Admin</h2>
    <a href="./viewDataOfallUser.ejs">View List of all users</a>
    <br>
    <a href="./searchParticularUser.ejs">View Particular User</a>
    <br>
    <a href="">Users who have not Logged-In since last 5 days</a>
    </form>
</body>
</html>