<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="" method="">
        <h3>Search data of particular user</h3>
        <input type="text" placeholder="Search by first and last name" id="searchuser">
        <input type="submit" value="search">
    </form>
</body>
</html>